:root {
    --color1: rgb(244, 156, 171);
    --color2: lightpink;
    --color3: hotpink;
    --color4: deeppink;
    --color5: crimson;
    --color6: palevioletred;
    --fuente: 'cursive';
}


*{
    background-color: rgb(159, 41, 59);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
}

.item{
    background-color: var(--color4);
    border: 2px solid #d5c6c6;
    padding: 20px;
    text-align: center;
    font-family: var(--fuente);
}

#item1 {
    
    background-color: var(--color1);
    color: white;
    
    
}
#item2 {
    
    background-color: var(--color2);
    color: white;
}
#item3 {
    background-color: var(--color3);
    color: white;
     

}

#item4 {
    background-color: var(--color5);
    color: white;
   
    
}
#item5 {
    background-color: var(--color6);
    color: white;
    
    
}
#item6 {
    background-color: var(--color4);
    color: white;
     
    
}

img {
    width: 100%;
    height: auto;   
    border-radius: 10px;
    image-orientation: center;
}