body {
    background-color: rgb(252, 172, 249);
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    margin: 0;
}
h1 {
    font-size: 3em;
    margin-bottom: 50px;
    text-align: center;
}

p {
    font-size: 1.5em;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
}

a {
    color: #d7bc0e;
    text-decoration: none;
    display: block;
    margin: 50px 0;
    font-size: 20px;
}

a:hover {
    background-color: rgb(218, 139, 201);
    color: blanchedalmond;
}

#padre {
    font-size: 20px;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 5em;
}

li {
    font-size: 30rem;
}